services:
  web:
    build: .
    command: sh -c "npm install && npm run dev"
    ports:
      - "8080:8080"
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "1"
      FORCE_COLOR: "1"
      ELEVENTY_SERVER_HOST: "0.0.0.0"
      ELEVENTY_SERVER_PORT: "8080"

volumes:
  node_modules:
