---
layout: layouts/base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
title: Page Not Found
---

<section class="py-16">
  <h1 class="text-4xl font-semibold">404 – Page Not Found</h1>
  <p class="mt-4">Sorry, we couldn’t find that page.</p>
  <a class="mt-6 inline-block underline" href="/">Back to home</a>
</section>

